@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


font-family: 'Libre Baskerville', serif;

font-family: 'Proza Libre', sans-serif;


/* ---------------------------------Special paddings/margins/text

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;

}
DDFFBB
#112A46

#C8E7E2
/* .inline-block {
    display: block;

}  */



/* ---------------------------------TopNav */

.navbar {
  background-color: #AACCCC;

}

.title h5 {
color: #404518;
font-family:'Libre Baskerville', serif;

}

.phone p {
  color: #404518;
  font-size: 14px;
  font-family:'Libre Baskerville', serif;
  text-align: center;
  padding-top: 10px;

}

/* ---------------------------------Navbar */

.container-navbar {
  margin: 20px;
  width: 100%;

}

.navbar {
  background-color: #AACCCC;
  overflow: hidden;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;

}

.bg-img {
  background-color: #AACCCC;
  background-image: url("../images/dogpark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;
  height: 100%;
  width: 100%; 
  padding-top: 500px;
  margin: 0;
  background-position: center;

}

.navbar ul {
  display: flex;
  gap: 30px;
  padding-left: 200px;

}

.nav-item a {
    color: #1D1806;
    text-decoration: none;
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;

}

.nav-item-active {
  color: azure;

}

.nav-link a {
  color: azure;
  text-decoration: none;
  margin-top: 0;
  text-align: center;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;

}


.navbar-toggle-icon span {
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    padding-top: 55px;

}

.navbar-nav {
  align-items: flex-start;

}

.navbar a:hover {
  background-color: #b4aaa1;
  color: azure;

}


/* --------------------------------- Footer */

.footer-main {
  background-color: #AACCCC;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 80vh;
  justify-content: space-between;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  list-style-type: none;

}

.footer-item a{
  color: #404518;
  height: 100%;
  line-height: 1.5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Libre Baskerville', serif;

}

.footer-main ol {
  color: #404518;
  text-decoration: none;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 10px;
  font-family: 'Proza Libre', sans-serif;

}


/* --------------------------------- Footer Author & Social Media*/

.footer-author {
  background-color: #AACCCC;
  color: #404518;
  padding-top: 0px;
  width: 100%;
  max-height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-bottom: 70px;

}

.social-icons i:hover {
  font-size: large;

}

.social-icons ul li {
  display: inline;
  color: #404518;

}

.social-icons ul li i {
  display: flex;
  font-size: 14px;
  color:#404518;
  text-decoration: none;
  margin-bottom: 0px;
  margin-top: 0;
  padding-bottom: 0px;

}

.social-icons ul li a {
  display: inline-block;
  color: #404518;
  text-decoration: none;

}

.copyright p {
  font-size: 12px;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 0;

}

.made-by {
  text-align: ;
  font-size: 12px;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 0;

}

/* ---------------------------------Info Section */

.container-info{
  background-color: #AACCCC;
  margin: 0;
  padding: 0;
  width: 100%;

}

.container-info {
  display: flex;
  flex-wrap: nowrap;
  background-color: #AACCCC;
  align-items: center;

}

.container-info-one {
  background-color: #F9FFEB;
  margin: 15px; 
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
}

.info h4 {
  color: #183E0C;
  font-family: 'Libre Baskerville', serif;
  font-size: 12;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: center;

} 

.info-one {
  background-color: #F9FFEB;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  min-height: 80vh;

} 

.info-two {
  background-color: #F9FFEB;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center; 
  padding-top: 20px;
  padding-bottom: 10px;
  min-height: 80vh;

} 

.info-three {
  background-color: #F9FFEB;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; 
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 80vh;

} 

.info p {
  color: #183E0C;
  font-family: 'Proza Libre', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;

} 

.info-img-botone {
  background-image: url("../images/pretty.jpg");
  background-size: cover;
  background-repeat: no-repeat center center;
  height: 325px;
  width: 325px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30%;

} 

.info-img-top {
  background-image: url("../images/curious.jpg");
  background-size: cover;
  height: 325px;
  width: 325px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 30%;

} 

.img-end-bottom {
  background-image: url("../images/sleepy.jpg");
  background-size: cover;
  height: 325px;
  width: 325px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 30%;

} 

/* ---------------------------------About Us */

.container-main-about-us {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0px;
  padding: 0;
  width: 100%;

}

.main-about-us {
  display: flex;
  flex-wrap: nowrap;
  background-color: #AACCCC;
  align-items: center;

}

.container-about-us {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 80vh;
  background-color:#E2D9E2;

}

.team {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

}

.intro h4 {
  color: #733236;
  font-family: 'Libre Baskerville', serif;
  font-size: 12;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;

}

.team h5,
.about-us h5,
.premises h5 {
  color: #733236;
  font-family: 'Libre Baskerville', serif;
  font-size: 13;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;

}

.about-us p,
.premises p {
  color: #733236;
  font-family: 'Proza Libre', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;

}

.team-img {
  background-image: url("../images/staff.jpg");
  background-size: cover;
  background-repeat: no-repeat center center;
  min-height: 60vh;
  height: 300px;
  width: 300px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin: 20px;
  border-radius: 40px;

}

.about-us {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

}

.premises {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

}

.premises-img {
  background-image: url("../images/peeping.jpg");
  background-size: cover;
  background-repeat: no-repeat center center;
  min-height: 60vh;
  height: 250px;
  width: 250px;
  padding-top: 10px;
  border-radius: 30px;

}

/* ---------------------------------Services */

.container-services {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 100%;

}

.container-services-main {
  display: flex;
  flex-wrap: wrap;
  background-color: #DAD7CD;
  align-items: center;
  justify-content: space-around;

}

.container-services {
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 80vh;
  background-color:#AACCCC;

}

.services-main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 0;

}

.services-main h4 {
  color: #404518;
  font-family: 'Libre Baskerville', serif;
  font-weight: 600;
  align-items: center;
  letter-spacing: 2px;

}

.services h5 {
  color: #404518;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;

}

.services p,
.services ul li {
  color: #404518;
  font-family: 'Proza Libre', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;

}

.services-img-one {
  background-image: url("../images/chicago.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 60vh;
  margin-top: 25px;
  border-radius: 50px;

}

.services-img-two {
  background-image: url("../images/zuri.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 60vh;
  margin-top: 25px;
  border-radius: 50px;

}

/* ---------------------------------Services two */

.services-img-three {
  background-image: url("../images/gnocchiemily.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 60vh;
  height: 330px;
  width: 330px; 
  margin-top: 25px;
  border-radius: 50px;

}

.services-img-four {
  background-image: url("../images/calipso.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 60vh;
  height: 330px;
  width: 330px; 
  margin-top: 25px;
  border-radius: 50px;

}

.container-services-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  width: 100%;

}

.services-container-two {
  display: flex;
  background-color: #DAD7CD;
  align-items: center;

}

.container-services-two {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 80vh;
  background-color:#AACCCC;

}

.services-two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.services-two h5 {
  color: #404518;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;

}

.services-two p,
.services-two ul li {
  color: #404518;
  font-family: 'Proza Libre', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;

}

/* ---------------------------------Services End */

.container-services-end {
  margin: 0; 
  padding: 0;
  width: 100%;

}

.container-services-end {
  background-color:#DAD7CD;
  padding-top: 15px; 
  padding-bottom: 10px; 
  padding-left: 10px; 
  padding-right: 10px;  
 
}

.content-services-end {
  background-color: #AACCCC; 
  padding-right: 15px; 
  padding-left: 15px; 
  margin-top: 0;

}

.services-end h4 {
  color: #404518;
  font-family: 'Libre Baskerville', serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;

}

.services-end p {
  color: #404518;
  font-family: 'Proza Libre', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
  word-spacing: 2px;

}

/* ---------------------------------FAQ Section */

.container-faq {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

}

.container-faq-title h4 {
  background-color: #3A2E27;
  color: #FFDADA;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0;

}

.container-faq-title h5 {
  background-color: #3A2E27;
  color: #FFDADA;
  font-family: 'Proza Libre', sans-serif;
  font-weight: 200;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 2.5rem;

}

.img2 {
  background-image: url("../images/belo.jpg");
  background-size: cover;
  background-repeat: no-repeat center center;
  height: 235px;
  width: 235px;
  padding: 0;
  margin-right: 10px;
  float: left;
  border-bottom-right-radius: 50%;

}

.img3 {
  background-image: url("../images/khalisi.jpg");
  background-color:#3A2E27;
  background-size: cover;
  background-repeat: no-repeat center center;
  height: 235px;
  width: 235px;
  margin-left: 5px;
  margin-bottom: 0px;
  padding-bottom: 0;
  float: right;
  border-top-left-radius: 50%;

}

.container-faq ul {
  background-color: #3A2E27;
  margin: 0px;
  padding: 0px;

}

.container-faq ul li {
  color: #FFDADA ;
  font-family:'Libre Baskerville', serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  list-style-type: none;
  line-height: 1.5rem;
  margin-left: 15px;

}

.container-faq ol {
  color: #FFDADA;
  font-family:'Libre Baskerville', serif;
  font-size: 12px;
  text-align: left;
  list-style-type: none;
  line-height: 1.5rem;
  margin-left: 15px;

}




/* ---------------------------------  Media Queries*/

/*
/* ---------- Tablet */
/* @media screen and (max-width: 768px) {
  .footer-main {
    display: 100%;
  }
}

@media screen and (max-width: 768px) {
  .footer-main,
  .footer-author{
 width: 200%;
  }

}    */

/* ---------- Mobile */

/*
@media screen and (max-width: 480px) {
  .footer-main,
  .services-container-two
   {
    display: 100%;
  }
}


@media screen and (max-width: 480px) {
  .footer-main-logo,
  .services-container-two {
    display: 100%;
  }
}  */

/*
@media screen and (max-width: 480px) {
  .footer-author {
 width: 100%;

  }

}    */
/*
@media screen and (max-width: 480px) {
  .footer-main-nav p {
 width: 100%;

  }

}
@media screen and (max-width: 480px) {
  .footer-main-nav ul li a {
 width: 100%;

  }

}    */

/*
@media screen and (max-width: 1393px) {
  .footer-main-logo {
      width: 65%;
      height: 1200px;
      margin: 0 auto;

  } */


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  footer {

    background-color: blue;
  }
  } */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  footer-main {
    background-color: yellow;
  }

} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */




