@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


font-family: 'Libre Baskerville', serif;

font-family: 'Proza Libre', sans-serif;


/* ---------------------------------Special paddings/margins/text

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;

}


/* .inline-block {
    display: block;

}  */


/* .header-container {
 
  
  }     */
  
/* ---------------------------------Colours */

/* .bg-color-header {
  background-color: red;
} */

.bg-color-footer {
    background-color:#B2BA97;
} 


/* ---------------------------------TopNav */

.title h5 {
color: #404518;
font-family:'Libre Baskerville', serif;

}

.phone p {
  color: #404518;
  font-size: 14px;
  font-family:'Libre Baskerville', serif;
  text-align: center;
  padding-top: 10px;
 
  
} 

/* ---------------------------------Navbar */

.container-navbar {
  position: absolute;
  margin: 20px;
  width: auto;

  

}

.navbar {
  background-color: #AACCCC; 
  overflow: hidden;
  padding: 3px;


}  

.bg-img {
  background-color: #AACCCC; 
  background-image: url("../images/dogpark.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  width: 100%;
  padding-top: 500px 500px;
  background-position: center;


}

.navbar ul {
  display: flex;
  gap: 30px; 
  padding-left: 200px; 

} 

.nav-item a { 
    color: azure; 
    text-decoration: none;
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;

}  

.nav-link a { 
  color: azure; 
  text-decoration: none;
  margin-top: 0;
  text-align: center;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;

} 
/* 
.navbar-collapse {
  flex-direction: column;
  min-height: 80vh;  
  padding-left: 5px;
  padding-top: 25px;
  color:azure;

} */

.navbar-toggle-icon span {
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
 
 
} 

.navbar-nav {
  align-items: flex-start;
 

}

.navbar a:hover {
  background-color: #b4aaa1;
  color: azure;

}


/* --------------------------------- Footer */


.footer-main {
  color: #404518;
  width: 100%;
  height: 200px;
  line-height: 15px;
  display: flex;
  justify-content: space-evenly;
  
} 

.footer-main-logo {
  background: url("../images/ddclogo.png");
  background-size: cover;
  background-repeat: no-repeat center center;
  height: 200px;
  width: 200px;
   
}

.footer-main-nav {
  color: #404518;
  height: 100%;
  line-height: 15px; 

}

.footer-main-nav p {
  color: #404518;
  text-decoration: none;
  padding: 20px;
  margin: 0;
  text-align: left;
  font-size: 12px;
  font-family: 'Libre Baskerville', serif;

}

.footer-main-nav ul li {
  list-style-type: none;

}

.footer-main-nav ul li a {
  text-align: left;
  font-size: 10px;
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
  
}

.footer-main-nav li a {
  color:#404518;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 10px;
  font-family: 'Proza Libre', sans-serif;
  
} 

.footer-main p {
  color: #404518;
  text-decoration: none;
  padding: 20px;
  margin: 0;
  text-align: left;
  font-size: 12px;
  font-family: 'Libre Baskerville', serif;

} 

.footer-main ul li  {
  color:#404518;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 10px;
  font-family: 'Proza Libre', sans-serif;
  
}  

.footer-main-address {
  height: 100%;

}

.footer-main-contact {
  height: 100%;
  float: left;
 
}


.footer-main-email {
  height: 100%;

}

.footer-main-hours {
  height: 100%;

}

/* --------------------------------- Footer Author & Social Media*/

.footer-author {
  color: #404518;
  padding-top: 5px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-evenly;

} 

.social-icons i:hover {
  font-size: large;

} 
  
.social-icons ul li {
  display: inline;
  color: #404518;
 
}

.social-icons ul li i {
  display: flex;
  font-size: 14px;
  color:#404518;
  text-decoration: none;
  margin-bottom: 0px;
  margin-top: 0;
  padding-bottom: 0px;
    
}

.social-icons ul li a {
  display: inline-block;
  align-items: center;
  color: #404518;
  text-decoration: none;

}

.copyright p {
  text-align: left;
  font-size: 10px;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 0;

}
  
.made-by {
  text-align: left;
  font-size: 10px;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 0;

}


/* ---------------------------------  Media Queries*/


/* ---------- Tablet */
@media screen and (max-width: 768px) {
  .footer-main-logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer-main,
  .footer-author{
 width: 200%;
  } 
  
}   

/* ---------- Mobile */

@media screen and (max-width: 480px) {
  .footer-main-logo {
    display: none;
  }
}


@media screen and (max-width: 480px) {
  .footer-main {
 width: 100%;
 
  } 
  
}   

@media screen and (max-width: 480px) {
  .footer-author {
 width: 100%;
 
  } 
  
}   

@media screen and (max-width: 480px) {
  .footer-main-nav p {
 width: 100%;
 
  } 
  
}   
@media screen and (max-width: 480px) {
  .footer-main-nav ul li a {
 width: 100%;
 
  } 
  
}   

/* 
@media screen and (max-width: 1393px) {
  .footer-main-logo {
      width: 65%;
      height: 1200px;
      margin: 0 auto;

  } */
  

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  footer {
    
    background-color: blue;
  }
  } */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  footer-main {
    background-color: yellow;
  }
   
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */



  
