@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ---------------------------------Special paddings/margins */

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;

}

/* ---------------------------------Fixed Nav */

.fixed-top {
  background-color:#AACCCC; 
  overflow: hidden;
  position: fixed;
  top: 0;
  max-height: fit-content;
  width: 100%;

}

.navbar-fixed h5,
.navbar-text h5  {
  color: #293A03; 
  font-family:'Libre Baskerville', serif; 
  font-size: 20px;
  font-weight: 500;
  font-style: italic; 
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 18px;
  width: 100%;
}

/* ---------------------------------Navbar */

.nav-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%; 
 
}

.navbar {  
  justify-content: center;

} 

.bg.img {
  display: flex;
  flex-wrap: nowrap;

}

.bg-img {
  background-color: #AACCCC;
  background-image: url("../images/dogpark.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  min-height: 120vh; 
  width: 100%;

}

.navbar ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center; 
  gap: 15px;  

}

.nav-item a {
    color: #293A03;
    text-decoration: none;
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;

}

.nav-item-active {
  color: #EFFBEF;

}

.nav-link a {
  color: #EFFBEF;
  text-decoration: none;
  margin-top: 0;
  text-align: center;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;

}

.nav-container i {
display: contents;
align-content: center;
color: #EFFBEF;
/* background-color: #293A03; */
font-size: 40px; 
padding-top: 28px;
border-style: solid;
border-width: 5PX;
border-color: #293A03;

} 

.navbar-nav {
  align-items: center; 
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; 

} 

.navbar a:hover {
  background-color: #293A03;
  color: #EFFBEF;

}

/* --------------------------------- Footer */

.footer-main {
  background-color: #AACCCC;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 80vh;
  justify-content: space-between;
 
}

.footer-main {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  list-style-type: none;
  
}

.footer-item a{
  color: #293A03;
  height: 100%;
  line-height: 1.5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Libre Baskerville', serif;

}

.footer-main ol {
  color: #293A03;
  text-decoration: none;
  padding: 0;
  margin: 0; 
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Proza Libre', sans-serif;
  
}

/* --------------------------------- Footer Author & Social Media*/

.footer-author {
  background-color: #AACCCC;
  color: #293A03;
  padding-top: 0px;
  width: 100%;
  max-height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.social-icons i:hover {
  font-size: large;

}

.social-icons ul li {
  display: inline;
  color: #293A03;
  margin-left: 8px;

}

.social-icons ul li i {
  display: flex;
  font-size: 18px;
  color:#293A03;
  font-weight: 600;
  letter-spacing: 10px;
  text-decoration: none;
  margin-bottom: 0px;
  margin-top: 0;
  padding-bottom: 5px;

}

.social-icons ul li a {
  display: inline-block;
  color: #293A03;
  text-decoration: none;
 
}

.copyright i, 
.copyright p{
  display: inline-block;
  color: #293A03;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  font-style: bold;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 5px;

}

.made-by {
  color: #293A03;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 5px;

}

/* ---------------------------------Info Section */

.container-info{
  background-color: #AACCCC;
  margin: 0;
  padding: 0;
  width: 100%;

}

.container-info {
  display: flex;
  flex-wrap: nowrap;
  background-color: #AACCCC;
  align-items: center;

}

.container-info-one {
  background-color: #EFFBEF;
  margin: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  line-height: 2rem; 

}

.info h3 {
  color: #293A03;
  font-family:'Libre Baskerville', serif;
  font-style: italic;
  letter-spacing: 2.5px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 15px;

}

.info-one {
  background-color: #EFFBEF;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  min-height: 80vh;

}

.info-two {
  background-color: #EFFBEF;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  min-height: 80vh;

}

.info-three {
  background-color: #EFFBEF;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 80vh;

}

.info p {
  color: #293A03;
  font-family: 'Proza Libre', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;

}

.info-img-botone {
  background-image: url("../images/pretty.jpg");
  background-size: cover;
  background-repeat: no-repeat center center;
  height: 325px;
  width: 325px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30%;

}

.info-img-top {
  background-image: url("../images/curious.jpg");
  background-size: cover;
  height: 325px;
  width: 325px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 30%;

}

.img-end-bottom {
  background-image: url("../images/sleepy.jpg");
  background-size: cover;
  height: 325px;
  width: 325px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-top: 8px;
  border-radius: 30%;

}

/* ---------------------------------About Us */

.container-main-about-us {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0px;
  padding: 0;
  width: 100%;

}

.main-about-us {
  display: flex;
  flex-wrap: nowrap;
  background-color: #AACCCC;
  align-items: center;

}

.container-about-us {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  min-height: 80vh;
  background-color: #EFFBEF;
  line-height: 2rem;
  
}

.team {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

}

.intro h3 {
  color: #293A03;
  font-family:'Libre Baskerville', serif;
  font-style: italic;
  letter-spacing: 2.5px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;

}

.team h4,
.premises h4 {
  color: #293A03;
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;

}

.about-us h4 {
  color: #293A03;
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;

}

.team p,
.about-us p,
.premises p {
  color: #293A03;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;

}

.team-img {
  background-image: url("../images/staff.jpg");
  background-size: cover;
  height: 375px;
  width: 350px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 20%;
  margin-bottom: 30px;

}

.about-us {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

}

.premises {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

}

.premises-img {
  background-image: url("../images/train.jpg");
  background-size: cover;
  background-position: center;
  height: 375px;
  width: 350px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 20%;

}

/* ---------------------------------Services */

.container-services {
  background-color: #AACCCC;
  margin: 0px;
  padding: 0px;
  width: 100%;

}

.container-services {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 80vh;

}

.container-services-main {
  display: flex;
  flex-wrap: wrap;
  background-color: #EFFBEF;
  align-items: center;
  justify-content: space-around;
  line-height: 2rem;

}

.services-main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 0;

}

.services-main h3 {
  color: #293A03;
  font-family:'Libre Baskerville', serif;
  font-style: italic;
  letter-spacing: 2.5px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;

}

.services h4 {
  color: #293A03;
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;

}

.services p,
.services ul li {
  color: #293A03;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;

}

.services-img-one {
  background-image: url("../images/chicago.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 70vh;
  margin-top: 15px;
  border-radius: 20%;

}

.services-img-two {
  background-image: url("../images/zuri.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 70vh;
  margin-top: 120px;
  border-radius: 20%;

}

/* ---------------------------------Services two */

.services-img-three {
  background-image: url("../images/gnocchiemily.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 350px;
  margin-top: 25px;
  border-radius: 30%;

}

.services-img-four {
  background-image: url("../images/calipso.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 350px;
  margin-top: 25px;
  border-radius: 30%;

}

.container-services-two {
  margin: 0px;
  padding: 0px;
  width: 100%;

}

.services-container-two {
  display: flex;
  background-color: #EFFBEF;
  align-items: center;
  line-height: 2rem;
}

.container-services-two {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background-color:#AACCCC;

}

.services-two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.services-two h4 {
  color: #293A03;
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.services-two p,
.services-two ul li {
  color: #293A03;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;

}

/* ---------------------------------Services End */

.container-services-end {
  margin: 0;
  padding: 0;
  width: 100%;

}

.container-services-end {
  background-color: #EFFBEF;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2rem;
}

.content-services-end {
  background-color: #AACCCC;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 0;

}

.services-end h3 {
  color: #293A03;
  font-family:'Libre Baskerville', serif;
  font-style: italic;
  letter-spacing: 2.5px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 12px;

}

.services-end h4 {
  color: #293A03;
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 5px; 

}

.services-end p {
  color: #293A03;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  word-spacing: 2px; 

}

/* ---------------------------------FAQ Section */

.container-faq {
  background-color: #AACCCC;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

.container-faq-title {
  background-color: #EFFBEF;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 80vh;
  width: 100%;

}

.container-faq {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 80vh;

}

.faq-container {
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

}

.faq-title {
  background-color: #EFFBEF;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

}

.faq-title h3 {
  color: #293A03;
  font-family: 'Libre Baskerville', serif;
  text-transform: Italic;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2.5px;
  line-height: 2.5rem;
  padding-bottom: 0;
  margin-bottom: 0;

}

.faq-title h4 {
  color: #293A03;
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding-top: 20px; 

}

.faq-container ul {
  background-color: #EFFBEF;
  line-height: 2.75rem;
  margin: 0px;
  padding: 10px;

}

.faq-container li {
  color: #293A03;
  font-family:'Libre Baskerville', serif;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  list-style-type: none;
  margin-left: 25px;

}

.faq-container ol {
  color: #293A03;
  font-family:'Libre Baskerville', serif;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  list-style-type: none;
  line-height: 1.5rem;
  margin-left: 15px;
  margin-bottom: 10px;

}

.img2 {
  background-image: url("../images/english.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  float: left;
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 20%;

}

.img3 {
  background-image: url("../images/friends.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 300px;
  float: right;
  margin-left: 10px;
  padding-right: 5px;
  margin-bottom: 3px;
  padding-left: 5px;
  border-radius: 20%;

}

/* ---------------------------------Gallery Section 1 */

.container-gallery {
  background-color: #AACCCC;
  margin: 0;
  padding: 0;
  width: 100%;

}

.container-gallery {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #AACCCC;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;

}

.gal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.gal-container {
  background-color: #EFFBEF;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;

}

.gallery-inspire h3 {
  color: #293A03;
  font-family:'Libre Baskerville', serif;
  font-style: italic;
  letter-spacing: 2.5px;
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 10px;
}

/* ---------------------------------Gallery Image Section 1 */

.galleryone {
  background-image: url("../images/j-c.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 280px;
  border-radius: 25%;
  border: 5px solid #AACCCC;
  margin-left: 10px;

}

.ovalone {
  background-image: url("../images/ruby.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 280px;
  border-radius: 50%;
  border: 5px solid #AACCCC;

}

.gallerytwo {
  background-image: url("../images/pup.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 280px;
  border-radius: 25%;
  border: 5px solid #AACCCC;

}

.ovaltwo {
  background-image: url("../images/khalisi.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 280px;
  border-radius: 50%;
  border: 5px solid #AACCCC;
  margin-right: 10px;

}

/* ---------------------------------Gallery Image Section 2 */

.ovalthree {
  background-image: url("../images/cali.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 280px;
  border-radius: 50%;
  border: 5px solid #AACCCC;
  margin-left: 10px;

}

.gallerythree {
  background-image: url("../images/oldeng.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 280px;
  border-radius: 25%;
  border: 5px solid #AACCCC;

}

.ovalfour {
  background-image: url("../images/class.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 280px;
  border-radius: 50%;
  border: 5px solid #AACCCC;

}

.galleryfour {
  background-image: url("../images/belo.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 280px;
  border-radius: 25%;
  border: 5px solid #AACCCC;
  margin-right: 10px;

}

/* ---------------------------------Gallery Image Section 3 */

.galleryfive {
  background-image: url("../images/stray.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 280px;
  border-radius: 25%;
  border: 5px solid #AACCCC;
  margin-left: 10px;

}

.ovalfive {
  background-image: url("../images/khali.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 280px;
  border-radius: 50%;
  border: 5px solid #AACCCC;

}

.gallerysix {
  background-image: url("../images/office.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 280px;
  border-radius: 25%;
  border: 5px solid #AACCCC;

}

.ovalsix {
  background-image: url("../images/n-z.jpg");
  background-size: cover;
  height: 350px;
  width: 280px;
  border-radius: 50%;
  border: 5px solid #AACCCC;
  margin-right: 10px;

}

.gallery-inspire-end h3 {
  color: #293A03;
  font-family:'Libre Baskerville', serif;
  font-style: italic;
  letter-spacing: 2.5px;
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-right: 15px;
  margin-left: 10px;
  margin-bottom: 60px;
  text-align: center;

}

/* ---------------------------------Contact Form */

.container-form {
  margin: 0;
  padding: 0;
  width: 100%;

} 

.container-form {
  background-color: #AACCCC;
  display: flex; 
  flex-wrap: nowrap;
 
} 

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: #EFFBEF;
  padding-top: 5px;
  width: 100%;

} 

.form-heading h3 {
  color: #293A03;
  font-family:'Libre Baskerville', serif;
  font-style: italic;
  letter-spacing: 2.5px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 10px;

}   

.centre-form {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 15px;
  width: 100%; 
  
}

.form-heading h5 {
  color: #293A03;
  font-family:'Libre Baskerville', serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-style: italic;
  margin-bottom: 15px;
  margin-left: 8px;
  margin-top: 8px;

}

.control-form {
  color: #293A03;
  margin-left: 35px; 
  width: 100%; 

}

.submit-form {
  color: #293A03; 
  font-size: 18px;
  font-family:'Libre Baskerville', serif;
  height: 100%;
  width: 85%;
  margin-left: 5%; 
  margin-top: 50px;
  margin-bottom: 50px;

} 

#fullname,
#emailaddress, 
#projectsummary {
  font-size: 18px;
  margin-bottom: 8px;
  border: 2px solid #293A03;
}

/* --------------------------------Submit-button */

button[type="submit"] {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #AACCCC;
  color: #293A03;
  font-family:'Libre Baskerville', serif;
  font-size: 14px;
  font-weight: 400;

}

.contact-img-container {
  display: flex;
  flex-wrap: nowrap;

}

.end-image {
  background-image: url("../images/peeping.jpg");
  background-size: cover;
  background-position: center;
  height: 325px;
  width: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 12px;
  padding-top: 8px;
  padding-left: 5px;
  border-radius: 30%;

}

/* --------------------------------Submit-Form Media Queries */

@media(min-width: 992px) {
  .centre-form {
      padding-top: 30px;
      min-height: 240px;
      margin: 0 auto;
      max-width: 70%;
  }

}
